.search{
    width: 30rem;
}

.btns-list{
    border: 1px solid rgb(207, 205, 205);
    padding: 7px;
    width: 5rem;
    background-color: rgb(192, 187, 187);
}

.btns-clndr{
    border: 1px solid rgb(207, 205, 205);
    padding: 7px;
    width: 8rem;
}

@media screen and (max-width: 500px){
    .search{
        width: 20rem;
    }
}

@media screen and (max-width: 400px){
    .search{
        width: 15rem;
    }
}

@media screen and (max-width: 300px){
    .search{
        width: 10rem;
    }
}